.container {
  max-width: 50rem;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.navbar {
  display: flex;
  text-align: right;
  padding: 14px 14px;
}

.navbar .logo {
  font-weight: 700;
}

.navbar ul {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.navbar li {
  list-style: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .navbar ul {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .hamburger {
    display: none;
  }
}

.white-bg {
  background-color: white;
  color: rgb(0, 42, 182);
  transition-duration: 300ms;
}

.white-bg a {
  text-decoration: none;
  color: rgb(0, 42, 182);
}

.blue-bg {
  background-color: rgb(0, 42, 182);
  color: white;
  transition-duration: 300ms;
}

.blue-bg a {
  text-decoration: none;
  color: white;
}

.banner {
  display: flex;
  padding-top: 125px;
  padding-bottom: 64px;
  margin: auto;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
}

@media screen and (max-width: 767px) {
  .banner {
    padding-top: 85px;
  }
}

.banner .title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 6px;
  margin-bottom: 6px;
}

.banner .right {
  padding-left: 32px;
}

.banner .right img {
  width: 220px;
  border-radius: 110px;
}

.button-white {
  background: white;
  color: rgb(0, 42, 182) !important;
  border-radius: 4px;
  padding: 6px 12px;
}

.mobile-icon {
  padding-bottom: 18px;
  text-align: center;
}

.mobile-icon img {
  width: 220px;
  border-radius: 110px;
}

@media screen and (min-width: 767px) {
  .mobile-icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    text-align: center;
    display: block;
    padding-bottom: 52px;
  }
  .banner .right {
    display: none;
  }
}

.section {
  padding: 48px 18px;
}

.grey-bg {
  background-color: #ececec;
}

.subtitle {
  color: rgb(75, 75, 75);
  padding-bottom: 6px;
  font-size: 18px;
}

.bar {
  background-color: rgb(0, 42, 182);
  width: 4px;
  margin-right: 10px;
  border-radius: 3px;
}

.company {
  font-size: 18px;
  padding-bottom: 3px;
  font-weight: 600;
}

.job {
  font-style: italic;
  font-size: 16px;
  padding-bottom: 3px;
}

.rank {
  font-style: italic;
  line-height: 27px;
  padding-left: 4px;
}

.project-box {
  display: flex;
  margin-top: 12px;
  margin-bottom: 20px;
}

.project-box .left {
  margin-right: 24px;
}

.project-title {
  font-weight: 600;
  padding-bottom: 3px;
}

.project-title a {
  text-decoration: none;
}

/* .project-title :hover {
  color: orange;
} */

.thumbnail {
  max-width: 320px;
  max-height: 300px;
  object-fit: contain;
  object-position: top;
}

@media screen and (max-width: 767px) {
  .project-box {
    display: block;
  }
}
